.socials a {
  margin: 12px;
  font-size: 28px;
  color: white;
  transition: 0.3s;

  text-shadow:
    0 0 5px var(--main-color),
    0 0 15px var(--main-color);
}

.socials a:hover {
  color: var(--main-color);

  text-shadow:
    0 0 10px var(--main-color),
    0 0 30px var(--main-color),
    0 0 60px var(--main-color);

  transform: scale(1.3);
}
